<nav class="top-nav glass-panel animate-fade-in animate-delay-long-1">
  <div class="nav-brand" (click)="onLogoClick()" style="cursor: pointer;" title="Akademos">
    <div class="brand-icon-mask shimmer-bg"></div>
  </div>
  <div class="nav-actions">
    <button class="nav-link" (click)="onCatalogClick()">Catálogo</button>
    @if (!isLoggedIn) {
      <button class="nav-btn-primary" (click)="onLoginClick()">Login</button>
    } @else {
      <button class="nav-btn-secondary" (click)="onLogoutClick()">Sair</button>
    }
  </div>
</nav>
